<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmanoghna.allinonebankapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Banklinkages"
            android:label="BANK LINKAGES">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".background"
            android:label="BACKGROUND">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".userdashboard"
            android:label="@string/title_activity_userdashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Uploadactivity"></activity>
    </application>

</manifest>